body {
    font-family: sans-serif;
    margin: 0;
}

.hero {
    color: white;
    background-color: #0058ff;  
    padding: 18px 200px 100px;
    flex: 1;
}

.navbar { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo {
    color: whitesmoke;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
}

.hero-content {
    gap: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: white;
    color: black;
    border-radius: 4px;
    border: 0;
    padding: 12px 20px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0;
    max-width: 150px;
}

img {
    max-width: 400px;
    max-height: 400px;
    justify-self: flex-end;
    flex-shrink: 1;
}

.left-hero {
   max-width: 500px; 
   display: flex;
   flex-direction: column;
}

.container {
    color: black;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 18px 200px 100px;
}

